[submodule "assignments/2/data/repositories/kafka"]
	path = assignments/2/data/repositories/kafka
	url = https://github.com/apache/kafka.git
[submodule "assignments/2/data/tools/CycloneDX/build-info-go"]
	path = assignments/2/data/tools/CycloneDX/build-info-go
	url = https://github.com/jfrog/build-info-go.git
[submodule "assignments/2/data/tools/CycloneDX/cdxgen"]
	path = assignments/2/data/tools/CycloneDX/cdxgen
	url = https://github.com/CycloneDX/cdxgen.git
[submodule "assignments/2/data/repositories/numpy"]
	path = assignments/2/data/repositories/numpy
	url = https://github.com/numpy/numpy.git
